.header{
    display: flex;
    width: 100%;
    /* height: 20px; */
    border: 1px solid black;
    justify-content: space-between;
}
.logo{
    width: 100px;
    margin: 25px;
    /* padding:10px */
}

.nav-list{
    padding: 0px 30px;
}

.nav-list > ul{
    display: flex;
    text-emphasis-style: none;
    list-style-type: none;
}
.nav-list > ul > li {
    padding: 10px;
    font-size: 18px;

}

.body{
    margin: 20px;
}
.search{
    margin: 20px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    margin: 5px;
    width: 200px;
    height: 300px; 
    background-color: #f0f0f0; 
    padding: 10px;
    box-shadow: 1px seashell;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    width: 70%;
    /* height: 20px; */
}


